body {
  height: 100vh;
  background-image: url(../public/joker.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body::-webkit-scrollbar {
  display: none;
}
.info h1 {
  text-align: left;
  color: #fff;
  font-family: Qanelas;
  font-size: 45px;
  font-weight: 900;
}
.info h2 {
  color: #fff;
  margin-top: -25px;
  font-family: Qanelas;
  margin-bottom: 30px;
  font-size: 25px;
  text-align: left;
  font-weight: 500;
}
.info p {
  color: #fff;
  font-family: Qanelas;
  width: 697px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 166.5%;
}
.box {
  width: 100%;
  height: 500px;
  gap: 40px;
  display: flex;
}
.display_flex {
  display: flex;
  gap: 25px;
align-items: center;
}
.display_flex button {
  cursor: pointer;
  opacity: 0.4;
  transition: 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 250px;
  background: none;
  height: 70px;
  border: 2px solid #ffffffff;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
.movie {
  box-shadow: 5px 0px 33px 11px gray;
  border-radius: 10px;
  background-image: url(../public/joker.png);
  width: 345px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  width: 1050px;
  margin: 0 auto;
}
.header {
  gap: 60px;
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo_img img {
  width: 30px;
  height: 30px;
}
.flex_block {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  gap: 6px;
}
.socials {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.socials img {
  width: 15px;
  height: 15px;
}
.login {
  gap: 12px;
  display: flex;
}
.search_button {
  border: 0;
  width: 40px;
  height: 40px;
  background: #ffffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 10px;
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.in_nav {
  display: flex;
  gap: 10px;
}

.singing_button {
  border: 0;
  color: white;
  font-weight: 600;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  background: #3657cb;
}
