* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(../public/joker.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body::-webkit-scrollbar {
  display: none;
}
.info h1 {
  margin-top: 0;
  text-align: left;
  color: #fff;
  font-family: Qanelas;
  font-size: 45px;
  font-weight: 900;
}
.info h2 {
  color: #fff;
  margin-top: 0px;
  font-family: Qanelas;
  font-size: 25px;
  text-align: left;
  font-weight: 500;
}
.info p {
  color: #fff;
  font-family: Qanelas;
  width: 697px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 166.5%;
}
.box {
  width: 100%;
  height: 430px;
  gap: 40px;
  display: flex;
}
.display_flex {
  display: flex;
  gap: 25px;
  align-items: center;
}
.display_flex button {
  cursor: pointer;
  opacity: 0.4;
  transition: 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background: none;
  height: 70px;
  border: 2px solid #ffffffff;
  border-radius: 10px;
}
.display_flex button a {
  font-size: 18px;
  color: white;
}
html {
  scroll-behavior: smooth;
}
.movie {
  box-shadow: 5px 0px 33px 11px gray;
  border-radius: 10px;
  background-image: url(../public/joker.png);
  width: 345px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  width: 1050px;
  margin: 0 auto;
}
.name {
  color: #fff;
  font-family: Qanelas;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 20px;
}
.header {
  gap: 60px;
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo_img img {
  width: 30px;
  height: 30px;
}
.flex_block {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  gap: 6px;
}
.socials {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.socials img {
  width: 15px;
}
.login {
  gap: 12px;
  display: flex;
}
.search_button {
  border: 0;
  width: 40px;
  height: 40px;
  background: #ffffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 10px;
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.in_nav {
  display: flex;
  gap: 10px;
}

.singing_button {
  border: 0;
  color: white;
  font-weight: 600;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  background: #3657cb;
}

.reyting {
  align-items: center;
  display: flex;
  gap: 13px;
}
.reyting button {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: #1b2133;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reyting p {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.reyting_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #1b2133;
}
.reyting_box p {
  color: #57d043;
  font-family: Qanelas;
  font-size: 14px;
  font-weight: 500;
}
.myChart_one {
  position: relative;
  background-color: #348528ad;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.myChart_one h1 {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.backgound_grodient {
  transition: 1s ease;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(30, 37, 56, 0.639093137254902) 3%,
    rgba(30, 37, 56, 0.25253851540616246) 42%,
    rgba(30, 37, 56, 0.8715861344537815) 77%,
    rgba(30, 37, 56, 1) 96%
  );
}
.new_traylers {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new_traylers h2 {
  color: #fff;
  font-family: Qanelas;
  font-size: 45px;
  font-weight: 900;
}
.right a {
  color: #fff;
  font-family: Qanelas;
  font-size: 18px;
  font-weight: 700;
}
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.boxs h4 {
  margin-top: 10px;
  color: #fff;
  font-family: Qanelas;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.boxs p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Qanelas;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.boxs h5 {
  color: #f2f60f;
  font-family: Qanelas;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 200;
}

.body {
  top: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: #1e2538;
}
.display_flexs {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image_box {
  cursor: pointer;
  width: 194px;
  height: 194px;
  border-radius: 10px;
  background-image: url(/public/notfound.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.statistic_line {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
  .name_of_film {
    display: flex;
    align-items: center;
    gap: 34px;
  }
}
.statistic h2 {
  font-size: 30px;
  color: white;
  font-weight: 800;
}
.socials {
  display: flex;
  align-items: center;
  gap: 17px;
}
.grade {
  display: flex;
  gap: 9px;
}
.grade button {
  background: #1b2133;
  border: 0;
  width: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}



.movie_posters {
  display: flex;
  margin-bottom: 95px;
  gap: 20px;
}
.dubl {
  width: 245px;
  height: 320px;
  background: green;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.movie_sroll {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  margin-bottom: 50px;
  &::-webkit-scrollbar {
    display: none;
  }
  .on_block {
    .block {
      margin-bottom: 5px;
      width: 255px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 350px;
      button {
        display: none;
        border-radius: 10px;
        width: 170px;
        height: 45px;
        border: 0;
        font-weight: 900;
        background: white;
        color: #3657cb;
      }
      .block_for_bals {
        position: absolute;
        width: 40px;
        height: 20px;
        right: 18px;
        top: 18px;
        border-radius: 5px;
        background: #4bcb36;
        display: flex;
        justify-content: center;
        p {
          color: white;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    h2 {
      width: 245px;
      font-size: 18px;
      color: white;
      font-weight: 800;
    }
    p {
      width: 245px;
      color: #f2f60f;
      font-size: 10px;
      font-weight: 600;
    }
  }
}

.similar_films {
  h1 {
    margin-top: 73px;
    margin-bottom: 42px;
    text-align: center;
    color: #fff;
    font-family: Qanelas;
    font-size: 45px;
    font-weight: 900;
  }
}

.reload {
  border-radius: 10px;
  width: 270px;
  height: 400px;
  background-color: #1b2133;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.similar_filfm_poster {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  margin-bottom: 50px;
  &::-webkit-scrollbar {
    display: none;
  }
  .on_block {
    .block {
      border-radius: 10px;
      margin-bottom: 10px;
      width: 245px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 320px;
      .block_for_bals {
        position: absolute;
        width: 40px;
        height: 20px;
        right: 18px;
        top: 18px;
        border-radius: 5px;
        background: #4bcb36;
        display: flex;
        justify-content: center;
        p {
          margin-top: 3px;
          color: white;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    h2 {
      width: 245px;
      font-size: 18px;
      color: white;
      font-weight: 800;
      margin-bottom: 5px;
    }
    p {
      width: 245px;
      color: #f2f60f;
      font-size: 10px;
      font-weight: 600;
    }
  }
}
.slid {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  p {
    margin-top: -5px;
    color: white;
    font-weight: 800;
    font-size: 16px;
  }
}

.display_grid {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  .grid {
    height: 340px;
    border-radius: 10px;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    &:first-child {
      grid-column: 1 / span 2;
    }
    &:last-child {
      grid-column: 3 / span 2;
    }
  }
}

footer {
  padding-top: 95px;
  width: 100%;
  background: #151a26;
  height: 100%;
  .container {
    width: 1050px;
    margin: 0 auto;
    .expected_novelties {
      display: flex;
      overflow-x: scroll;
      margin-bottom: 105px;
      &::-webkit-scrollbar {
        display: none;
      }
      gap: 20px;
      .expected_movies {
        .expected_block {
          width: 245px;
          height: 320px;
          background-image: url(/public/joker.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .expected_texts {
          width: 240px;
          h2 {
            width: 245px;
            font-size: 18px;
            color: white;
            font-weight: 800;
          }
          p {
            width: 245px;
            color: #f2f60f;
            font-size: 10px;
            font-weight: 600;
          }
        }
      }
    }
    .footer_block {
      width: 1050px;
      height: 480px;
      border-radius: 10px;
      background-image: url(/public/fotterImage.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .logo {
        width: 150px;
        margin: 0 auto;
        padding-top: 75px;
        padding-bottom: 55px;
      }
      .footer_info {
        h1 {
          text-align: center;
          color: #fff;
          font-size: 40px;
          font-weight: 900;
          margin-bottom: 25px;
        }
        p {
          width: 704px;
          text-align: center;
          color: #fff;
          margin: 0 auto;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 35px;
        }
      }
      button {
        width: 180px;
        border-radius: 10px;
        border: 0;
        background: yellow;
        font-weight: 700;
        height: 61px;
      }
      .input {
        padding-left: 30px;
        width: 325px;
        height: 61px;
        border-radius: 10px;
        background: #fff;
        border: 0;
        margin-bottom: 30px;
      }
      form {
        justify-content: center;
        display: flex;
        gap: 10px;
      }
    }
    .social_media {
      margin-top: 60px;
      margin-bottom: 35px;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      img {
        width: 25px;
      }
    }
    .hrefs {
      margin-bottom: 41px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      a {
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .kinoarea {
    color: rgba(227, 230, 240, 0.72);
    text-align: center;
    font-family: Qanelas;
    font-size: 15px;
    font-weight: 400;
  }
  .a {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 50px;
    color: rgba(227, 230, 240, 0.72);
    text-align: center;
    font-family: Qanelas;
    font-size: 15px;
    font-weight: 400;
  }
  .agree {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .checked {
      width: 20px;
      height: 20px;
      background: greenyellow;
    }
    .eggry {
      display: flex;
      justify-content: start;
      gap: 5px;
      .f {
        color: #f2f60f;
        text-align: left;
        font-family: Qanelas;
        font-size: 17px;
        font-weight: 400;
      }
      a {
        color: #f2f60f;
        text-align: left;
        font-family: Qanelas;
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
}
