* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(../public/joker.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body::-webkit-scrollbar {
  display: none;
}
.info h1 {
  margin-top: 0;
  text-align: left;
  color: #fff;
  font-family: Qanelas;
  font-size: 45px;
  font-weight: 900;
}
.info h2 {
  color: #fff;
  margin-top: 0px;
  font-family: Qanelas;
  font-size: 25px;
  text-align: left;
  font-weight: 500;
}
.info p {
  color: #fff;
  font-family: Qanelas;
  width: 697px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 166.5%;
}
.box {
  width: 100%;
  height: 430px;
  gap: 40px;
  display: flex;
}
.display_flex {
  display: flex;
  gap: 25px;
  align-items: center;
}
.display_flex button {
  cursor: pointer;
  opacity: 0.4;
  transition: 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 250px;
  background: none;
  height: 70px;
  border: 2px solid #ffffffff;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
.movie {
  box-shadow: 5px 0px 33px 11px gray;
  border-radius: 10px;
  background-image: url(../public/joker.png);
  width: 345px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  width: 1050px;
  margin: 0 auto;
}
.header {
  gap: 60px;
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo_img img {
  width: 30px;
  height: 30px;
}
.flex_block {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  gap: 6px;
}
.socials {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.socials img {
  width: 15px;
  height: 15px;
}
.login {
  gap: 12px;
  display: flex;
}
.search_button {
  border: 0;
  width: 40px;
  height: 40px;
  background: #ffffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 10px;
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.in_nav {
  display: flex;
  gap: 10px;
}

.singing_button {
  border: 0;
  color: white;
  font-weight: 600;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  background: #3657cb;
}

.reyting {
  align-items: center;
  display: flex;
  gap: 13px;
}
.reyting button {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: #1b2133;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reyting p {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.reyting_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #1b2133;
}
.reyting_box p {
  color: #57d043;
  font-family: Qanelas;
  font-size: 14px;
  font-weight: 500;
}
.myChart_one {
  position: relative;
  background-color: #348528ad;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.myChart_one h1 {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.backgound_grodient {
  transition: 1s ease;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(30, 37, 56, 0.639093137254902) 3%,
    rgba(30, 37, 56, 0.25253851540616246) 42%,
    rgba(30, 37, 56, 0.8715861344537815) 77%,
    rgba(30, 37, 56, 1) 96%
  );
}
.new_traylers {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new_traylers h2 {
  color: #fff;
  font-family: Qanelas;
  font-size: 45px;
  font-weight: 900;
}
.right a {
  color: #fff;
  font-family: Qanelas;
  font-size: 18px;
  font-weight: 700;
}
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.boxs h4 {
  margin-top: 10px;
  color: #fff;
  font-family: Qanelas;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.boxs p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Qanelas;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.boxs h5 {
  color: #f2f60f;
  font-family: Qanelas;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 200;
}

.body {
  top: 100vh;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: #1e2538;
}
.display_flexs {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image_box {
  width: 194px;
  height: 194px;
  border-radius: 10px;
  background-image: url(/public/notfound.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.statistic_line {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
  .name_of_film {
    display: flex;
    align-items: center;
    gap: 34px;
  }
}
.statistic h2 {
  font-size: 30px;
  color: white;
  font-weight: 800;
}
.socials {
  display: flex;
  align-items: center;
  gap: 17px;
}
.grade {
  display: flex;
  gap: 9px;
}
.grade button {
  background: #1b2133;
  border: 0;
  width: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.name {
  color: #FFF;
  font-family: Qanelas;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
